<footer>
	<div class="row">
		<div class="small-11 large-10 small-centered columns">
			<div class="row">

				<div class="links small-12 columns">
					<h5 class="header-links-small"><a href="#">Blog</a></h5>
					<h5 class="header-links-small"><a href="#">Locations</a>
					<h5 class="header-links-small"><a href="/menus">Menus</a></h5>
					<h5 class="header-links-small"><a href="/coffees">Coffee</a></h5>
					<h5 class="header-links-small"><a href="/about">About SA</a></h5>
				</div>
			</div>

			<div class="row">
				<div class="contacts small-12 large-6 columns">
					<h4>(416) - 907 - 8524</h4>
					<h4>cafe@senseappeal.ca</h4>
					<h4>rrota@senseappeal.ca</h4>
				</div>

				<div class="social small-12 large-6 columns">
					<a href="http://facebook.com/senseappeal"><span id="facebook"></span></a>
					<a href="http://twitter.com/senseappeal"><span id="twitter"></span></a>
					<a href="http://instagram.com/senseappeal"><span id="instagram"></span></a>
				</div>
			</div>
		</div>
	</div>
</footer>