<header>
<h1>Sense Appeal</h1>

<%= link_to "Coffees", coffees_path %>
<%= link_to "Menus", menus_path %>
<%= link_to "About", about_path %>
</header>

<section id="statement" class="who-we-are">
	<h2 class="who-we-are">
		WE ARE A CREATIVE COFFEE + FOOD LAB.
		<br>WE EXPERIMENT.
		<br>WE EVOLVE.
		<br>WE MAKE COFFEE + FOOD TASTE BETTER.
	</h2>
</section>
<section class="basicinfo">
	<div id="offices" class="location"></div>
	<div id="wholesale" class="basicinfo wholesale">
		<h3 class="wholesale">Wholesale</h3>
	</div>
	<div id="location">
		<h3 class="location"></h3>
		<h4 id="hours"></h4>
		<div id="location-map"></div>
	</div>
</section>