<header>
	<div class="row header">
		<div class="header large-centered large-10 columns">
			<h1>
				<span>Sense Appeal</span><br/>
				<span>Coffee</span><br/>
				<span>Roasters</span>
			</h1>
			<nav>
					<%= link_to "Coffees", coffees_path %>
					<%= link_to "Menus", menus_path %>
					<%= link_to "About", about_path %>
			</nav>
		</div>
	</div>
</header>

<section class="who-we-are statement">
	<div class="row">
		<div class="statement large-centered large-10 columns">
			<h2 class="who-we-are statement">
				<span id="statement-line-1" class="slabtext">WE ARE A CREATIVE</span>
				<span id="statement-line-2" class="slabtext">COFFEE + FOOD LAB</span>
				<span id="statement-line-3" class="slabtext">WE EXPERIMENT</span>
				<span id="statement-line-4" class="slabtext">WE EVOLVE</span>
				<span id="statement-line-5" class="slabtext">WE MAKE COFFEE + FOOD</span>
				<span id="statement-line-6" class="slabtext">TASTE BETTER</span>
			</h2>
		</div>
	</div>
</section>

<section class="basic-info">
	<div class="row">
		<div id="basic-info-wrap" class="large-10 large-centered columns">
			<div class="row">

				<div id="office-wholesale-info" class="large-5 columns">
					<div class="row">
						<a href="/offices" id="offices" class="basicinfo location large-12 columns">
							<h3 class="offices float-right">Offices</h3>
						</a>
						<a href="/wholesale" id="wholesale" class="basicinfo wholesale large-12 columns">
							<h3 class="wholesale float-right">Wholesale</h3>
						</a>
					</div>
				</div>

				<div id="location-hours-info" class="large-5 columns">
					<div id="spadina">
						<h4 class="locations">
							<span class="slabtext">
							96 Spadina Ave
							</span>
						</h4>
						<h4 class="numbers">416 203 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
						<div id="location-map">
							<!-- TODO: MAP GOES HERE -->
						</div>
					</div>
					<div id="lakeshore">
						<h4 class="locations">
							<span class="slabtext">
							2000 Lakeshore Blvd
						</h4>
						<h4 class="numbers">416 203 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

