
// Global Font Styles

body {
	// background: #c90;
	font-size: 100%;
}

// Helpers

.float-right {
	float: right;
}

span.spacer {
	font-size: 3em;
	line-height: 4.0;
}

.clear {
	clear: both;
}

// Typography

h1, h2, h3, h4, h5, h6 {
	text-transform:uppercase;
}

h3, h4, h5, h6 {
}

h1 {
	font-size: 4.5em;
	line-height: .9em;
	margin: 0 0 1.25rem 0;
}