
// // // Home Page Content

// // HEADER SECTION

	header {
		background-color: #fff;
		// background: url('brown-brick-RIGHTS.jpg') 50% 50% no-repeat;
	}

	div.header.row {
		padding: 15rem 0;
	}

	nav {
		margin-left: -.9rem; // adjust margin-left to be .1 less than padding
							 // to align it better with the logo
		a {
			display: inline-block;
			font-size: 1.5em;
			padding: .5rem 1rem;
			transition: all .1s ease-in-out;
		}
		a:hover {
				background: #000;
				color: #fff;
				border-radius: .25rem;
		}
	}


// // STATEMENT SECTION

	section.statement {
		background-color: #000;
		padding: 2.50rem 0 1.25rem 0;
	}

	h2.statement {
		color: #fff;
	}

	#statement-line-2, #statement-line-4 {
		margin-bottom: 1.5rem;
	}


// // BASIC INFO SECTION

	section.basic-info {
		background: #f99 url('coffee-extraction-RIGHTS.jpg') no-repeat 50% 50%;
		background-size: cover;
	}

	#basic-info-wrap {
		padding: 4rem 0;
	}

	#basic-info-wrap > .row {
		margin: 0;
	}

	#offices, #wholesale {

		// TODO: cut the textbox styles into a mixin

		padding: 1rem;
		background: #fff;
		border-radius: .2rem;
		display: block;
		margin-bottom: 1.5rem;
		box-shadow: 0 .3rem 0 0 #000;

		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
			margin-bottom: .2em;
		}

		p {
			margin: 0;
		}
	}

	#location-hours-info {
		background: #fff;
		border-radius: .2rem;
		padding: 1rem;
		box-shadow: 0 .3rem 0 0 #000;

		span {
			white-space: normal;
		}

		#spadina {
			margin-bottom: 1.5rem;
		}

	}

// // COFFEES SECTION

section.coffees {
	background-color: #fff;
	min-height: 30rem;
}



// // // MEDIA QUERIES

@media all and (min-width: 600px) {
	section.basic-info {
		// background-size: 100% auto;
	}
}

@media all and (max-width: 64rem) {
	#location-hours-info {
			h4.locations {
				font-size: 1.3rem;
			}
	}

}


@media all and (max-width: 42rem) {
	h1 {
		font-size: 3em;
	}
	nav {
		margin-left: -.70rem;

		a {
			font-size: 1.2em;
			padding: .40rem .80rem;
		}

	}

}

@media all and (max-width: 30rem) {
	h1 {
		font-size: 2.2em;
	}
	nav {
		margin-left: -.40rem;
		
		a {
			font-size: 1em;
			padding: .25rem .50rem;
		}
	}
}

@media all and (max-width: 24rem) {
	h1 {
		font-size: 1.8em;
	}

}
