
// // // Home Page Content

// // HEADER SECTION

	header {
		background-color: #fff;
		// background: url('brown-brick-RIGHTS.jpg') 50% 50% no-repeat;
		padding: 15.75rem 0;
	}

	nav {
		a {
			font-size: 1.5em;
			padding: .5rem 1rem;
		}
		a:first-child {
			margin-left: -1rem;
		}
		a:hover {
				background: #000;
				color: #fff;
				border-radius: .25rem; 
		}
	}

// 	div.header.row {
// 		padding: 2rem .25rem;
// 		border-radius: .75rem;
// 	}


// // STATEMENT SECTION

	section.statement {
		background-color: #000;
		padding: 2.50rem 0 1.25rem 0;
	}

	h2.statement {
		color: #fff;
	}

	#statement-line-2, #statement-line-4 {
		margin-bottom: 1.5rem;
	}


// // BASIC INFO SECTION

	section.basic-info {
		background: #000 url('coffee-extraction-RIGHTS.jpg') 50% 50% no-repeat;
	}

	#basic-info-wrap {
		max-height: 35rem;
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	#basic-info-wrap > .row {
		margin: 0;
	}

	a#offices, a#wholesale {
		padding: 1rem;
		background-color: #fff;
		border-radius: .2rem;
		display: block;
		margin-bottom: 1rem;
	}

	#location-hours-info {
		white-space: line;
		background: #000;
		border-radius: .2rem;
		padding: 1rem;

			#spadina {
				margin-bottom: 1.5rem;
			}

			.locations, .hours, .numbers {
				color: #fff;
			}
	}



// // // MEDIA QUERIES

@media #{$small-only} {
	h1 {
		font-size: 1.5em;
	}
}

