// Place all the styles related to the Roasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, div {
	margin: 10px;
}

input.button {
	height: 150px;
	width: 150px;
}