<header class="home">
	<div class="row header">
		<div class="header small-11 large-10 small-centered columns">
			<h1>
				<span>Sense Appeal</span><br/>
				<span>Coffee</span><br/>
				<span>Roasters</span>
			</h1>
			<nav>
					<h4 class="header-links-small"><%= link_to "Coffees", anchor: "coffees" %></h4>
					<h4 class="header-links-small"><%= link_to "Menus", anchor: "menus" %></h4>
					<h4 class="header-links-small"><%= link_to "Locations", anchor: "basic-info" %></h4>
			</nav>
		</div>
	</div>
</header>